@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);

$roboto: 'Roboto', serif;
$link-color: #0052CC;
$link-hover-color: rgb(66, 82, 110);

.Inbox {
  font-family: $roboto;
  .link {
    color: $link-color;
    cursor: pointer;
    &:hover {
      color: $link-hover-color;
    }
  }
}