$icon-width: 25px;
$icon-margin: 10px;
$font-primary-color: #000;
$font-secondary-color: #888;
$send-date-width: 60px;
$tools-width: 100px;
$details-right-padding: 5px;
$details-padding: 8px $details-right-padding 8px 0px;

.Email {
  cursor: default;
  height: 65px;
  color: $font-primary-color;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  &.selected {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
  }
  .Icon {
    float: left;
    margin: $icon-margin;
  }
  .details {
    float: left;
    padding: $details-padding;
    width: calc(100% - #{$icon-width} - (#{$icon-margin} * 2) - #{$details-right-padding});
    font-size: 11px;
    line-height: 1.5em;
    .sender {
      width: calc(100% - #{$tools-width});
      text-align: left;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tools {
      width: $tools-width;
      text-align: right;
      float: left;
    }
    .subject {
      width: calc(100% - #{$send-date-width});
      text-align: left;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .send-date-time {
      color: $font-secondary-color;
      width: $send-date-width;
      text-align: right;
      float: left;
    }
    .body {
      width: 100%;
      color: $font-secondary-color;
      float: left;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}