$checked-color: #BBB;
.Icon {
  width: 25px;
  height: 25px;
  div.abbr-holder {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    span.abbr-text {
      color: white;
      font-size: 11px;
      float: left;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  div.checked {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: solid 1px $checked-color;
    border-radius: 10px;
    background-color: #FFF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
      position: relative;
      top: 45%;
      left: 85%;
      display: block;
      transform: translate(-50%, -50%);
      &:after {
        content: '';
        display: block;
        width: 3px;
        height: 6px;
        border: solid $checked-color;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
  }
}