.Header {
  font-size: 11px;
  height: 40px;
  border-bottom: 1px solid #EEE;
  .filter {
    position: relative;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    float: right;
    font-weight: bold;
  }
  .title {
    position: relative;
    top: 50%;
    left: 45px;
    transform: translate(0, -50%);
    float: left;
    font-weight: bold;
    font-size: 14px;
  }
}